.Testimonials{
    display: flex;
    padding: 2rem;
}
.Testimonials>.left-t{
    display: flex;
    flex-direction:column ;
    gap: 3rem;
    flex: 1;
}
.left-t>h1{
    color: var(--orange);
}
.left-t>:nth-child(2)
{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 3rem;
}
.left-t>:nth-child(2)>:nth-child(2){
    font-weight: bold;
    color: white;
}
.left-t>:nth-child(3)>span{
    line-height: 2rem;
    letter-spacing: 2px;
    color: white;
    
}
.left-t>:nth-child(4)>:nth-child(1){
    color: var(--orange);
}
.left-t>:nth-child(4)>:nth-child(2){
    color:white;
}
.right-t{
    flex: 1;
    position: relative;
}
.right-t>.reviewer-img{
    position: absolute;
    top: 2rem;
    right: 12rem;
    width: 17rem;
    height: 20rem;
    /* height: auto; */
    object-fit: contain;

}

.right-t>:nth-child(1){
    position: absolute;
    border: 2px solid var(--orange);
    height: 20rem;
    width: 17rem;
    background-color: transparent;
    top: 1rem;
    right: 13rem;
}

.right-t>:nth-child(2){
    position: absolute;
    /* border: 2px solid var(--orange); */
    height: 20rem;
    width: 15rem;
    background: var(--planCard);
    top: 2.8rem;
    right: 12rem;
}

.right-t>:nth-child(4){
    position: absolute;
    bottom: 6rem;
    left: 4rem;
    display: flex;
    gap: 1rem;
}
.right-t>:nth-child(4)>:nth-child(2){
    width: 1.2rem;
    height: 1.2rem;
}

.right-t>:nth-child(4)>:nth-child(1){
    width: 1.2rem;
    height: 1.2rem;
}

@media screen and (max-width: 768px) {
    .Testimonials{
        flex-direction: column;
        padding: 1rem;
    }
    .Testimonials>.left-t{
        gap: 1.4rem;
    }
    .Testimonials>.left-t{
        padding: 1rem;
    }
    .left-t>h1{
        font-size: 1.5rem;
    }
    .left-t>:nth-child(2)
    {
        font-size: 1.5rem;
    }
    .left-t>:nth-child(3)>span{
        font-size: small;
    }
    .left-t>:nth-child(3)>span{
    line-height: 1rem;
    letter-spacing: 1px;
    color: white;
    
}
    .left-t>:nth-child(4)>:nth-child(1){
        font-size: small;
    }
    .left-t>:nth-child(4)>:nth-child(2){
        margin-top: 0;
        font-size: small;
    }
    .right-t{
        padding: 1rem;
    }
    .right-t>.reviewer-img{
        top: 1rem;
        right: 1rem;
        width: 10rem;
        height: 12rem;
    }
    .right-t>:nth-child(1){
        height: 10rem;
        width: 10rem;
        top: 0.5rem;
        right: 1rem;
    }
    .right-t>:nth-child(2){
        height: 12rem;
        width: 8rem;
        top: 1.5rem;
        right: 1rem;
    }
    .right-t>:nth-child(4){
        top: 2rem;
        left: 3rem;
    }
    .right-t>:nth-child(4)>:nth-child(2){
        width: 0.8rem;
        height: 0.8rem;
    }
    
    .right-t>:nth-child(4)>:nth-child(1){
        width: 0.6rem;
        height: 0.6rem;
    }
}