.join{
    display: flex;
    padding: 0 2rem;
    gap: 10rem;
}
.left-j{
    color: white;
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
}

.left-j>hr{
    position: absolute;
    width: 10.5rem;
    border: 2px solid var(--orange);
    border-radius: 20%;
    margin: -10px 0;
}


.left-j>div{
    display: flex;
    gap: 1rem;
}
.right-j{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.email-container{
    display: flex;
    gap: 3rem;
    background-color: gray;
    padding: 1rem 2rem;
}
.email-container>input{
    background-color: transparent;
    border: none;
    outline: none;
    color: var(--lightgrayz);
}
::placeholder{
    color: var(--lightgray);
}
.btn-j{
    background-color: var(--orange);
    color: white;
}
@media screen and (max-width: 768px) {
    .join{
        flex-direction: column;
        padding: 1rem;
        gap: 2rem;
    }
    .join>:nth-child(1){
        margin-top: 7rem;
    }
    .join>.left-j>:nth-child(2){
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
     .join>.left-j>:nth-child(3){
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .left-j{
        font-size: 2rem;
    }
    .left-j>hr{
        width: 7rem;
    }
    .left-j>div{
        gap: 0.5rem;
    }
    .right-j{
        gap: 1rem;
    }
    .email-container{
        gap: 1rem;
        padding: 0.5rem 1rem;
    }
    .email-container>input{
        font-size: small;
    }
    .btn-j{
        font-size: small;
    }

}